.container {
  color: #f00;
}

.test-class {
  background-color: #0f0; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

#link-test {
  padding: 15px 32px;
}
